<% @creatures.each do |creature| %>
   <p>
     <b>Name:</b> <%= creature.name %><br>
     <b>Description:</b> <%= creature.description %>
   </p>
   <button><%= link_to "More Info", creature_path(creature)%></button>
 <% end %>
